{% extends 'upload/base.html' %}
{% block title %}Cloud | Change Password{% endblock %}
{% block my_account_active %}active{% endblock %}
{% load staticfiles %}
{% block navigation%}
    <div class="container-fluid files-container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="panel panel-default" style="background: transparent">
                    <div class="panel-body">
                        <div class="row">
                            <h4>Change Your Password</h4><br>
                        </div>
                        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">

                            {% csrf_token %}

                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li class="{{ message.tags }}"><font color="#dc143c">{{ message }}</font></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            <div class="form-group">
                                <div class="col-sm-8">
                                    {{ form }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-8">
                                    <button type="submit" class="btn btn-success">Change Password</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}