{% extends 'upload/base.html' %}
{% block title %}Cloud | Delete Account{% endblock %}
{% block my_account_active %}active{% endblock %}
{% load staticfiles %}
{% block navigation%}
    <div class="container-fluid">
        <div class="img-thumbnail" style="width: 300px; height: 230px">
            <a href="{% url 'login:personal_details' user.id %}">
                {% if user.avatar %}
                    <img src="{{ user.avatar.url }}" class="img-responsive">
                {% else %}
                    <h3>No image to display</h3>
                {% endif %}
            </a>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="panel panel-default" style="background: transparent; color: black">
                    <div class="panel-body">
                        <div class="row">
                            <h4>Personal Details &nbsp;<a href="{% url 'login:personal_details_update' %}" class="btn-success" style="background: transparent"><span class="glyphicon glyphicon-edit"></span></a></h4><br>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Date Of Birth</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Country</th>
                                    <th>Mobile</th>
                                    <th>Account Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.last_name }}</td>
                                    <td>{{ user.date_of_birth }}</td>
                                    <td>{{ user.address }}</td>
                                    <td>{{ user.city }}</td>
                                    <td>{{ user.state }}</td>
                                    <td>{{ user.country }}</td>
                                    <td>{{ user.mobile }}</td>
                                    <td>
                                        <form action="{% url 'login:delete_account' user.id %}" method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="user_id" value="{{ user.id }}" />
                                            <button type="submit" class="btn btn-danger btn-xs">
                                                <span class="glyphicon glyphicon-trash"></span>&nbsp; Delete Account
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}