{% extends 'upload/base.html' %}
{% block title %}Cloud | Update Folder{% endblock %}

{% block navigation %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-4">
            <div class="panel panel-default" style="background: transparent">
                <div class="panel-body">
                    <h3>Folder Update Form</h3>
                    {% if error_message %}
                        <p><strong><font color="red">{{ error_message }}</font></strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% include 'upload/form-template.html' %}

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-10">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}